################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/XamarinForms.FirstApp/XamarinForms.FirstApp/XamarinForms.FirstApp/bin/Debug/netstandard2.0
/XamarinForms.FirstApp/XamarinForms.FirstApp/XamarinForms.FirstApp/obj
/XamarinForms.FirstApp/XamarinForms.FirstApp/XamarinForms.FirstApp.Android/bin/Debug
/XamarinForms.FirstApp/XamarinForms.FirstApp/XamarinForms.FirstApp.Android/obj
/XamarinForms.FirstApp/XamarinForms.FirstApp/XamarinForms.FirstApp.iOS/bin/iPhone/Debug
/XamarinForms.FirstApp/XamarinForms.FirstApp/XamarinForms.FirstApp.iOS/obj
/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/bin/Debug/netstandard2.0
/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/obj
/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp.Android/bin/Debug
/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp.Android/obj
/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp.iOS/bin/iPhone/Debug
/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp.iOS/obj
/XamarinForms.MultipageApp/XamarinForms.MultipageApp/XamarinForms.MultipageApp/bin/Debug/netstandard2.0
/XamarinForms.MultipageApp/XamarinForms.MultipageApp/XamarinForms.MultipageApp/obj
/XamarinForms.MultipageApp/XamarinForms.MultipageApp/XamarinForms.MultipageApp.Android/bin/Debug
/XamarinForms.MultipageApp/XamarinForms.MultipageApp/XamarinForms.MultipageApp.Android/obj
/XamarinForms.MultipageApp/XamarinForms.MultipageApp/XamarinForms.MultipageApp.iOS/bin/iPhone/Debug
/XamarinForms.MultipageApp/XamarinForms.MultipageApp/XamarinForms.MultipageApp.iOS/obj
/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp/bin/Debug/netstandard2.0
/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp/obj
/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp.Android/bin/Debug
/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp.Android/obj
/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp.iOS/bin/iPhone/Debug
/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp.iOS/obj
/XamarinForms.StylingApp/XamarinForms.StylingApp/XamarinForms.StylingApp/bin/Debug/netstandard2.0
/XamarinForms.StylingApp/XamarinForms.StylingApp/XamarinForms.StylingApp/obj
/XamarinForms.StylingApp/XamarinForms.StylingApp/XamarinForms.StylingApp.Android/bin/Debug
/XamarinForms.StylingApp/XamarinForms.StylingApp/XamarinForms.StylingApp.Android/obj
/XamarinForms.StylingApp/XamarinForms.StylingApp/XamarinForms.StylingApp.iOS/bin/iPhone/Debug
/XamarinForms.StylingApp/XamarinForms.StylingApp/XamarinForms.StylingApp.iOS/obj
/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp/bin/Debug/netstandard2.0
/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp/obj
/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp.Android/bin/Debug
/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp.Android/obj
/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp.iOS/obj
/XamarinForms.LabelApp/.vs/XamarinForms.LabelApp
/XamarinForms.LabelApp/XamarinForms.LabelApp/XamarinForms.LabelApp/bin/Debug/netstandard2.0
/XamarinForms.LabelApp/XamarinForms.LabelApp/XamarinForms.LabelApp/obj
/XamarinForms.LabelApp/XamarinForms.LabelApp/XamarinForms.LabelApp.Android/obj
/XamarinForms.LabelApp/XamarinForms.LabelApp/XamarinForms.LabelApp.Android/bin/Debug
/XamarinForms.LabelApp/XamarinForms.LabelApp/XamarinForms.LabelApp.iOS/obj
/XamarinForms.ButtonApp/.vs/XamarinForms.ButtonApp
/XamarinForms.ButtonApp/XamarinForms.ButtonApp/XamarinForms.ButtonApp/bin/Debug/netstandard2.0
/XamarinForms.ButtonApp/XamarinForms.ButtonApp/XamarinForms.ButtonApp/obj
/XamarinForms.ButtonApp/XamarinForms.ButtonApp/XamarinForms.ButtonApp.Android/bin/Debug
/XamarinForms.ButtonApp/XamarinForms.ButtonApp/XamarinForms.ButtonApp.Android/obj
/XamarinForms.ButtonApp/XamarinForms.ButtonApp/XamarinForms.ButtonApp.iOS/bin/iPhone/Debug
/XamarinForms.ButtonApp/XamarinForms.ButtonApp/XamarinForms.ButtonApp.iOS/obj
/XamarinForms.EntryApp/.vs/XamarinForms.EntryApp
/XamarinForms.EntryApp/XamarinForms.EntryApp/XamarinForms.EntryApp/bin/Debug/netstandard2.0
/XamarinForms.EntryApp/XamarinForms.EntryApp/XamarinForms.EntryApp/obj
/XamarinForms.EntryApp/XamarinForms.EntryApp/XamarinForms.EntryApp.Android/bin/Debug
/XamarinForms.EntryApp/XamarinForms.EntryApp/XamarinForms.EntryApp.Android/obj
/XamarinForms.EntryApp/XamarinForms.EntryApp/XamarinForms.EntryApp.iOS/bin/iPhone/Debug
/XamarinForms.EntryApp/XamarinForms.EntryApp/XamarinForms.EntryApp.iOS/obj
/XamarinForms.EditorApp/.vs/XamarinForms.EditorApp
/XamarinForms.EditorApp/XamarinForms.EditorApp/XamarinForms.EditorApp/bin/Debug/netstandard2.0
/XamarinForms.EditorApp/XamarinForms.EditorApp/XamarinForms.EditorApp/obj
/XamarinForms.EditorApp/XamarinForms.EditorApp/XamarinForms.EditorApp.Android/bin/Debug
/XamarinForms.EditorApp/XamarinForms.EditorApp/XamarinForms.EditorApp.Android/obj
/XamarinForms.EditorApp/XamarinForms.EditorApp/XamarinForms.EditorApp.iOS/obj
/XamarinForms.ImageApp/.vs/XamarinForms.ImageApp
/XamarinForms.ImageApp/XamarinForms.ImageApp/XamarinForms.ImageApp/bin/Debug/netstandard2.0
/XamarinForms.ImageApp/XamarinForms.ImageApp/XamarinForms.ImageApp/obj
/XamarinForms.ImageApp/XamarinForms.ImageApp/XamarinForms.ImageApp.Android/bin/Debug
/XamarinForms.ImageApp/XamarinForms.ImageApp/XamarinForms.ImageApp.Android/obj
/XamarinForms.ImageApp/XamarinForms.ImageApp/XamarinForms.ImageApp.iOS/obj
/XamarinForms.GridApp/.vs/XamarinForms.GridApp
/XamarinForms.GridApp/XamarinForms.GridApp/XamarinForms.GridApp/bin/Debug/netstandard2.0
/XamarinForms.GridApp/XamarinForms.GridApp/XamarinForms.GridApp/obj
/XamarinForms.GridApp/XamarinForms.GridApp/XamarinForms.GridApp.Android/bin/Debug
/XamarinForms.GridApp/XamarinForms.GridApp/XamarinForms.GridApp.Android/obj
/XamarinForms.GridApp/XamarinForms.GridApp/XamarinForms.GridApp.iOS/bin/iPhone/Debug
/XamarinForms.GridApp/XamarinForms.GridApp/XamarinForms.GridApp.iOS/obj
/XamarinForms.ListViewApp/XamarinForms.ListViewApp/XamarinForms.ListViewApp/bin/Debug/netstandard2.0
/XamarinForms.ListViewApp/.vs/XamarinForms.ListViewApp
/XamarinForms.ListViewApp/XamarinForms.ListViewApp/XamarinForms.ListViewApp/obj
/XamarinForms.ListViewApp/XamarinForms.ListViewApp/XamarinForms.ListViewApp.Android/bin/Debug
/XamarinForms.ListViewApp/XamarinForms.ListViewApp/XamarinForms.ListViewApp.Android/obj
/XamarinForms.ListViewApp/XamarinForms.ListViewApp/XamarinForms.ListViewApp.iOS/obj
/XamarinForms.PopupsApp/.vs/XamarinForms.PopupsApp
/XamarinForms.PopupsApp/XamarinForms.PopupsApp/XamarinForms.PopupsApp/bin/Debug/netstandard2.0
/XamarinForms.PopupsApp/XamarinForms.PopupsApp/XamarinForms.PopupsApp/obj
/XamarinForms.PopupsApp/XamarinForms.PopupsApp/XamarinForms.PopupsApp.Android/bin/Debug
/XamarinForms.PopupsApp/XamarinForms.PopupsApp/XamarinForms.PopupsApp.Android/obj
/XamarinForms.PopupsApp/XamarinForms.PopupsApp/XamarinForms.PopupsApp.iOS/obj
/XamarinForms.AppLifecycle/.vs/XamarinForms.AppLifecycle
/XamarinForms.AppLifecycle/XamarinForms.AppLifecycle/XamarinForms.AppLifecycle/bin/Debug/netstandard2.0
/XamarinForms.AppLifecycle/XamarinForms.AppLifecycle/XamarinForms.AppLifecycle/obj
/XamarinForms.AppLifecycle/XamarinForms.AppLifecycle/XamarinForms.AppLifecycle.Android/bin/Debug
/XamarinForms.AppLifecycle/XamarinForms.AppLifecycle/XamarinForms.AppLifecycle.Android/obj
/XamarinForms.AppLifecycle/XamarinForms.AppLifecycle/XamarinForms.AppLifecycle.iOS/bin/iPhone/Debug
/XamarinForms.AppLifecycle/XamarinForms.AppLifecycle/XamarinForms.AppLifecycle.iOS/obj
/QuickStarts/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp/bin/Debug/netstandard2.0
/QuickStarts/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp/obj
/QuickStarts/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp.Android/bin/Debug
/QuickStarts/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp.Android/obj
/QuickStarts/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp.iOS/bin/iPhone/Debug
/QuickStarts/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp.iOS/obj
/QuickStarts/XamarinForms.MultipageApp/XamarinForms.MultipageApp/XamarinForms.MultipageApp/bin/Debug/netstandard2.0
/QuickStarts/XamarinForms.MultipageApp/XamarinForms.MultipageApp/XamarinForms.MultipageApp/obj
/QuickStarts/XamarinForms.MultipageApp/XamarinForms.MultipageApp/XamarinForms.MultipageApp.Android/bin/Debug
/QuickStarts/XamarinForms.MultipageApp/XamarinForms.MultipageApp/XamarinForms.MultipageApp.Android/obj
/QuickStarts/XamarinForms.MultipageApp/XamarinForms.MultipageApp/XamarinForms.MultipageApp.iOS/bin/iPhone/Debug
/QuickStarts/XamarinForms.MultipageApp/XamarinForms.MultipageApp/XamarinForms.MultipageApp.iOS/obj
/QuickStarts/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/bin/Debug/netstandard2.0
/QuickStarts/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/obj
/QuickStarts/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp.Android/bin/Debug
/QuickStarts/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp.Android/obj
/QuickStarts/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp.iOS/bin/iPhone/Debug
/QuickStarts/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp.iOS/obj
/QuickStarts/XamarinForms.StylingApp/XamarinForms.StylingApp/XamarinForms.StylingApp/bin/Debug/netstandard2.0
/QuickStarts/XamarinForms.StylingApp/XamarinForms.StylingApp/XamarinForms.StylingApp/obj
/QuickStarts/XamarinForms.StylingApp/XamarinForms.StylingApp/XamarinForms.StylingApp.Android/bin/Debug
/QuickStarts/XamarinForms.StylingApp/XamarinForms.StylingApp/XamarinForms.StylingApp.Android/obj
/QuickStarts/XamarinForms.StylingApp/XamarinForms.StylingApp/XamarinForms.StylingApp.iOS/bin/iPhone/Debug
/QuickStarts/XamarinForms.StylingApp/XamarinForms.StylingApp/XamarinForms.StylingApp.iOS/obj
/Tutorials/XamarinForms.AppLifecycle/.vs/XamarinForms.AppLifecycle
/Tutorials/XamarinForms.AppLifecycle/XamarinForms.AppLifecycle/XamarinForms.AppLifecycle/bin/Debug/netstandard2.0
/Tutorials/XamarinForms.AppLifecycle/XamarinForms.AppLifecycle/XamarinForms.AppLifecycle/obj
/Tutorials/XamarinForms.AppLifecycle/XamarinForms.AppLifecycle/XamarinForms.AppLifecycle.Android/bin/Debug
/Tutorials/XamarinForms.AppLifecycle/XamarinForms.AppLifecycle/XamarinForms.AppLifecycle.Android/obj
/Tutorials/XamarinForms.AppLifecycle/XamarinForms.AppLifecycle/XamarinForms.AppLifecycle.iOS/bin/iPhone/Debug
/Tutorials/XamarinForms.AppLifecycle/XamarinForms.AppLifecycle/XamarinForms.AppLifecycle.iOS/obj
/Tutorials/XamarinForms.ButtonApp/.vs/XamarinForms.ButtonApp
/Tutorials/XamarinForms.ButtonApp/XamarinForms.ButtonApp/XamarinForms.ButtonApp/bin/Debug/netstandard2.0
/Tutorials/XamarinForms.ButtonApp/XamarinForms.ButtonApp/XamarinForms.ButtonApp/obj
/Tutorials/XamarinForms.ButtonApp/XamarinForms.ButtonApp/XamarinForms.ButtonApp.Android/bin/Debug
/Tutorials/XamarinForms.ButtonApp/XamarinForms.ButtonApp/XamarinForms.ButtonApp.Android/obj
/Tutorials/XamarinForms.ButtonApp/XamarinForms.ButtonApp/XamarinForms.ButtonApp.iOS/bin/iPhone/Debug
/Tutorials/XamarinForms.ButtonApp/XamarinForms.ButtonApp/XamarinForms.ButtonApp.iOS/obj
/Tutorials/XamarinForms.EditorApp/.vs/XamarinForms.EditorApp
/Tutorials/XamarinForms.EditorApp/XamarinForms.EditorApp/XamarinForms.EditorApp/bin/Debug/netstandard2.0
/Tutorials/XamarinForms.EditorApp/XamarinForms.EditorApp/XamarinForms.EditorApp/obj
/Tutorials/XamarinForms.EditorApp/XamarinForms.EditorApp/XamarinForms.EditorApp.Android/bin/Debug
/Tutorials/XamarinForms.EditorApp/XamarinForms.EditorApp/XamarinForms.EditorApp.Android/obj
/Tutorials/XamarinForms.EditorApp/XamarinForms.EditorApp/XamarinForms.EditorApp.iOS/obj
/Tutorials/XamarinForms.EntryApp/.vs/XamarinForms.EntryApp
/Tutorials/XamarinForms.EntryApp/XamarinForms.EntryApp/XamarinForms.EntryApp/bin/Debug/netstandard2.0
/Tutorials/XamarinForms.EntryApp/XamarinForms.EntryApp/XamarinForms.EntryApp/obj
/Tutorials/XamarinForms.EntryApp/XamarinForms.EntryApp/XamarinForms.EntryApp.Android/bin/Debug
/Tutorials/XamarinForms.EntryApp/XamarinForms.EntryApp/XamarinForms.EntryApp.Android/obj
/Tutorials/XamarinForms.EntryApp/XamarinForms.EntryApp/XamarinForms.EntryApp.iOS/bin/iPhone/Debug
/Tutorials/XamarinForms.EntryApp/XamarinForms.EntryApp/XamarinForms.EntryApp.iOS/obj
/Tutorials/XamarinForms.GridApp/.vs/XamarinForms.GridApp
/Tutorials/XamarinForms.GridApp/XamarinForms.GridApp/XamarinForms.GridApp/bin/Debug/netstandard2.0
/Tutorials/XamarinForms.GridApp/XamarinForms.GridApp/XamarinForms.GridApp/obj
/Tutorials/XamarinForms.GridApp/XamarinForms.GridApp/XamarinForms.GridApp.Android/bin/Debug
/Tutorials/XamarinForms.GridApp/XamarinForms.GridApp/XamarinForms.GridApp.Android/obj
/Tutorials/XamarinForms.GridApp/XamarinForms.GridApp/XamarinForms.GridApp.iOS/bin/iPhone/Debug
/Tutorials/XamarinForms.GridApp/XamarinForms.GridApp/XamarinForms.GridApp.iOS/obj
/Tutorials/XamarinForms.ImageApp/.vs/XamarinForms.ImageApp
/Tutorials/XamarinForms.ImageApp/XamarinForms.ImageApp/XamarinForms.ImageApp/bin/Debug/netstandard2.0
/Tutorials/XamarinForms.ImageApp/XamarinForms.ImageApp/XamarinForms.ImageApp/obj
/Tutorials/XamarinForms.ImageApp/XamarinForms.ImageApp/XamarinForms.ImageApp.Android/bin/Debug
/Tutorials/XamarinForms.ImageApp/XamarinForms.ImageApp/XamarinForms.ImageApp.Android/obj
/Tutorials/XamarinForms.ImageApp/XamarinForms.ImageApp/XamarinForms.ImageApp.iOS/obj
/Tutorials/XamarinForms.LabelApp/.vs/XamarinForms.LabelApp
/Tutorials/XamarinForms.LabelApp/XamarinForms.LabelApp/XamarinForms.LabelApp/bin/Debug/netstandard2.0
/Tutorials/XamarinForms.LabelApp/XamarinForms.LabelApp/XamarinForms.LabelApp/obj
/Tutorials/XamarinForms.LabelApp/XamarinForms.LabelApp/XamarinForms.LabelApp.Android/bin/Debug
/Tutorials/XamarinForms.LabelApp/XamarinForms.LabelApp/XamarinForms.LabelApp.Android/obj
/Tutorials/XamarinForms.LabelApp/XamarinForms.LabelApp/XamarinForms.LabelApp.iOS/obj
/Tutorials/XamarinForms.ListViewApp/.vs/XamarinForms.ListViewApp
/Tutorials/XamarinForms.ListViewApp/XamarinForms.ListViewApp/XamarinForms.ListViewApp/bin/Debug/netstandard2.0
/Tutorials/XamarinForms.ListViewApp/XamarinForms.ListViewApp/XamarinForms.ListViewApp/obj
/Tutorials/XamarinForms.ListViewApp/XamarinForms.ListViewApp/XamarinForms.ListViewApp.Android/bin/Debug
/Tutorials/XamarinForms.ListViewApp/XamarinForms.ListViewApp/XamarinForms.ListViewApp.Android/obj
/Tutorials/XamarinForms.ListViewApp/XamarinForms.ListViewApp/XamarinForms.ListViewApp.iOS/obj
/Tutorials/XamarinForms.PopupsApp/.vs/XamarinForms.PopupsApp
/Tutorials/XamarinForms.PopupsApp/XamarinForms.PopupsApp/XamarinForms.PopupsApp/bin/Debug/netstandard2.0
/Tutorials/XamarinForms.PopupsApp/XamarinForms.PopupsApp/XamarinForms.PopupsApp/obj
/Tutorials/XamarinForms.PopupsApp/XamarinForms.PopupsApp/XamarinForms.PopupsApp.Android/bin/Debug
/Tutorials/XamarinForms.PopupsApp/XamarinForms.PopupsApp/XamarinForms.PopupsApp.Android/obj
/Tutorials/XamarinForms.PopupsApp/XamarinForms.PopupsApp/XamarinForms.PopupsApp.iOS/obj
/Tutorials/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp/bin/Debug/netstandard2.0
/Tutorials/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp/obj
/Tutorials/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp.Android/bin/Debug
/Tutorials/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp.Android/obj
/Tutorials/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp.iOS/obj
