################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/XamarinForms.FirstApp/XamarinForms.FirstApp/XamarinForms.FirstApp/bin/Debug/netstandard2.0
/XamarinForms.FirstApp/XamarinForms.FirstApp/XamarinForms.FirstApp/obj
/XamarinForms.FirstApp/XamarinForms.FirstApp/XamarinForms.FirstApp.Android/bin/Debug
/XamarinForms.FirstApp/XamarinForms.FirstApp/XamarinForms.FirstApp.Android/obj
/XamarinForms.FirstApp/XamarinForms.FirstApp/XamarinForms.FirstApp.iOS/bin/iPhone/Debug
/XamarinForms.FirstApp/XamarinForms.FirstApp/XamarinForms.FirstApp.iOS/obj
/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/bin/Debug/netstandard2.0
/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/obj
/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp.Android/bin/Debug
/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp.Android/obj
/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp.iOS/bin/iPhone/Debug
/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp.iOS/obj
