################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/XamarinForms.FirstApp/XamarinForms.FirstApp/XamarinForms.FirstApp/bin/Debug/netstandard2.0
/XamarinForms.FirstApp/XamarinForms.FirstApp/XamarinForms.FirstApp/obj
/XamarinForms.FirstApp/XamarinForms.FirstApp/XamarinForms.FirstApp.Android/bin/Debug
/XamarinForms.FirstApp/XamarinForms.FirstApp/XamarinForms.FirstApp.Android/obj
/XamarinForms.FirstApp/XamarinForms.FirstApp/XamarinForms.FirstApp.iOS/bin/iPhone/Debug
/XamarinForms.FirstApp/XamarinForms.FirstApp/XamarinForms.FirstApp.iOS/obj
/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/bin/Debug/netstandard2.0
/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/obj
/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp.Android/bin/Debug
/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp.Android/obj
/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp.iOS/bin/iPhone/Debug
/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp/XamarinForms.SinglePageApp.iOS/obj
/XamarinForms.MultipageApp/XamarinForms.MultipageApp/XamarinForms.MultipageApp/bin/Debug/netstandard2.0
/XamarinForms.MultipageApp/XamarinForms.MultipageApp/XamarinForms.MultipageApp/obj
/XamarinForms.MultipageApp/XamarinForms.MultipageApp/XamarinForms.MultipageApp.Android/bin/Debug
/XamarinForms.MultipageApp/XamarinForms.MultipageApp/XamarinForms.MultipageApp.Android/obj
/XamarinForms.MultipageApp/XamarinForms.MultipageApp/XamarinForms.MultipageApp.iOS/bin/iPhone/Debug
/XamarinForms.MultipageApp/XamarinForms.MultipageApp/XamarinForms.MultipageApp.iOS/obj
/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp/bin/Debug/netstandard2.0
/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp/obj
/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp.Android/bin/Debug
/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp.Android/obj
/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp.iOS/bin/iPhone/Debug
/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp/XamarinForms.DatabaseApp.iOS/obj
/XamarinForms.StylingApp/XamarinForms.StylingApp/XamarinForms.StylingApp/bin/Debug/netstandard2.0
/XamarinForms.StylingApp/XamarinForms.StylingApp/XamarinForms.StylingApp/obj
/XamarinForms.StylingApp/XamarinForms.StylingApp/XamarinForms.StylingApp.Android/bin/Debug
/XamarinForms.StylingApp/XamarinForms.StylingApp/XamarinForms.StylingApp.Android/obj
/XamarinForms.StylingApp/XamarinForms.StylingApp/XamarinForms.StylingApp.iOS/bin/iPhone/Debug
/XamarinForms.StylingApp/XamarinForms.StylingApp/XamarinForms.StylingApp.iOS/obj
/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp/bin/Debug/netstandard2.0
/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp/obj
/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp.Android/bin/Debug
/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp.Android/obj
/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp/XamarinForms.StackLayoutApp.iOS/obj
